@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Introduce Details :</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label >DistributorID </label>
    </div>
    <div class="col-sm-2">
        <input  id="distributorID" type="text" required />
    </div>
    <div class="col-sm-2">
        <label>Contact Id :</label>
    </div>
    <div class="col-sm-2">
        <input  id="contactId" type="text" required />
    </div>
    <div class="col-sm-4">
       <input type="button" class="btn-success" id="getContact" value="Get Contact" />
    </div>
   
</div>
